<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find person</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p><a href="/"><-Back</a></p>
<h1>Find person</h1>
<hr>
<form action="#" th:action="@{/findperson}" th:object="${person}" method="post">
    <p><input type="text" th:field="*{surname}" placeholder="Surname" pattern="[A-Za-zА-Яа-яЁё]{2,30}" required="true"/></p>
    <p><input type="text" th:field="*{name}" placeholder="Name" pattern="[A-Za-zА-Яа-яЁё]{2,30}" required="true"/></p>
    <p><input type="submit" value="Find" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>